Node-RED_Flows/L3_flows.json
[{"id":"5111ced3.2ff2e8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"59366daa.5f6f34","type":"inject","z":"5111ced3.2ff2e8","name":"Time","props":[{"p":"payload"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":200,"wires":[["df1922ed.5918","baa9d3e1.dbeb9"]]},{"id":"df1922ed.5918","type":"file in","z":"5111ced3.2ff2e8","name":"theta","filename":"/tmp/head_variable.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":260,"wires":[["cd88eec5.b8bc1"]]},{"id":"cd88eec5.b8bc1","type":"ui_gauge","z":"5111ced3.2ff2e8","name":"","group":"7642592c.2ea65","order":1,"width":0,"height":0,"gtype":"gage","title":"Compass Readings","label":"Grades","format":"{{value}}","min":"-180","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":260,"wires":[]},{"id":"baa9d3e1.dbeb9","type":"file in","z":"5111ced3.2ff2e8","name":"Card","filename":"/tmp/head_str.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":370,"y":140,"wires":[["9f32addf.eb29b"]]},{"id":"9f32addf.eb29b","type":"ui_text","z":"5111ced3.2ff2e8","group":"7642592c.2ea65","order":1,"width":0,"height":0,"name":"Card","label":"Heading to","format":"{{msg.payload}}","layout":"row-left","x":570,"y":140,"wires":[]},{"id":"7642592c.2ea65","type":"ui_group","name":"gauge","tab":"6bca53b8.4a27bc","order":1,"disp":true,"width":"6","collapse":false},{"id":"6bca53b8.4a27bc","type":"ui_tab","name":"Lab3","icon":"dashboard","order":1,"disabled":false,"hidden":false}]