Node-RED_Flows/Lab2_Flow.json
[{"id":"adf5b97.d535048","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7173cf60.695648","type":"inject","z":"adf5b97.d535048","name":"","props":[{"p":"payload"}],"repeat":".2","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":380,"y":180,"wires":[["e3b2bb09.df24d8"]]},{"id":"2d053480.46c60c","type":"ui_gauge","z":"adf5b97.d535048","name":"","group":"7642592c.2ea65","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":180,"wires":[]},{"id":"e3b2bb09.df24d8","type":"file in","z":"adf5b97.d535048","name":"var","filename":"/home/pi/mxet300_lab/basics/Lab2_file.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":570,"y":180,"wires":[["2d053480.46c60c","1d8c9f46.61be09"]]},{"id":"1d8c9f46.61be09","type":"ui_chart","z":"adf5b97.d535048","name":"","group":"108476f8.b652b1","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":780,"y":260,"wires":[[]]},{"id":"7642592c.2ea65","type":"ui_group","name":"gauge","tab":"6bca53b8.4a27bc","order":1,"disp":true,"width":"6","collapse":false},{"id":"108476f8.b652b1","type":"ui_group","name":"chart","tab":"6bca53b8.4a27bc","order":2,"disp":true,"width":"6","collapse":false},{"id":"6bca53b8.4a27bc","type":"ui_tab","name":"Lab2","icon":"dashboard","order":1,"disabled":false,"hidden":false}]